/* customize buttons */
.button {
    line-height: 1.4;
    font-size: 12px;
    vertical-align: middle;
    border-radius: 3px;
    color: #2685d5;
    background-color: #fff;
    border: solid 1px #d0d4d9;
    padding: 4px 8px;
    letter-spacing: 0;
    cursor: pointer;
    margin: 0;
    font-weight: 400;
    margin: 10px 14px 0 0;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
    max-width: 100%;
}

button {
    overflow: visible;
    max-width: 100%;
    cursor: pointer;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.84375em 0.875em 0.78125em;
    border: 0;
    border-radius: 2px;
}

.button:hover:not(.btn-disabled), .button:hover:not(.btn-disabled), input[type="submit"]:hover {
    opacity: .8;
}

.btn-primary {
    border-color: #007ce2;
    background: #007ce2;
    color: #fff
}

.btn-primary-alt {
    background-color: #f94343;
    color: #fff;
    border: solid 1px red;
}

.btn-secondary {
    border: 1px solid #d0d4d9;
    background-color: #fff;
    color: #007ce2;
}

.btn-secondary-alt {
    border: solid 1px #d0d4d9;
    background-color: #fff;
    color: #e54040;
}

.btn-default {
    border: 1px solid #9da2aa;
    background-color: #fff;
    color: #777c84;
}

.btn-disabled {
    color: #838080;
    background-image: linear-gradient(#f6f6f6,#e0e0e0);
    font-weight: 400
}
